NODE_ENV="development"
PORT=4200
DATABASE_URL="postgresql://username:password@your-host.neon.tech/dbname?sslmode=require"
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://pet-pooja-cyan.vercel.app